<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Express Time Card: Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <!--navigation plane-->
    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="hero">
        <h1>Express Time Card</h1>
        <p>Welcome to Express Time Card</p>
        <!--  testing javascript
        <a href="javascript:void(0)" class="btn" id="exploreBtn">TEST JAVASCRIPT</a> 
         -->
        <a href="/registration" class="btn">Register now!</a>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
    <script src="/js/javascript.js"></script>
     <!--footer--> 
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>