<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Express Time Card: Registration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="hero">
        <h1>Registration Page </h1>
            
            <form th:action="@{/register}" th:object="${registration}" method="post" class="registration_registration-form">
                <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="registration_form-group">
                <label for="registration_invitationCode">Invitation Code</label>
                <input type="text" id="registration_invitationCode" th:field="*{invitationCode}" required>
            </div>
            <div class="registration_form-group">
                <label for="registration_firstName">First Name</label>
                <input type="text" id="registration_firstName" th:field="*{firstName}" required>
            </div>
            <div class="registration_form-group">
                <label for="registration_lastName">Last Name</label>
                <input type="text" id="registration_lastName" th:field="*{lastName}" required>
            </div>
            <div class="registration_form-group">
                <label for="registration_email">Email</label>
                <input type="email" id="registration_email" th:field="*{email}" required>
            </div>
            <div class="registration_form-group">
                <label for="registration_phone">Phone</label>
                <input type="tel" id="registration_phone" th:field="*{phone}" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>